/* 인사말 */
.greeting .sec_01 .msg_wrap {
  background: #f4f4f4;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.greeting .sec_01 .msg_wrap img {
  margin-right: 24px;
  width: 38%;
}

.greeting .sec_01 .msg_wrap p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  word-break: keep-all;
  flex: 1;
}

.greeting .sec_02 {
  margin-top: 40px;
}

.greeting .sec_02 .inner {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting .sec_02 .img_chart {
  max-width: 100%;
  margin-top: 40px;
}
/* 인사말 End */

/* 연혁 */
.history .sec_01 .inner {
  display: flex;
}

.history .sec_01 .col:first-child {
  width: 300px;
  /* width: 30%; */
  background: url("../../images/bg/bg_history.png") no-repeat bottom / 100% 100%;
  margin-right: 24px;
}

.history .sec_01 .col:first-child .wrap {
  display: flex;
  align-items: center;
}

.history .sec_01 .col:last-child {
  width: 410px;
}

.history .sec_01 .col .sec_title {
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.history .sec_01 .col .row {
  border-top: 1px solid #00b54d;
  padding: 20px 0;
  display: flex;
}

.history .sec_01 .col .row:last-child {
  border-bottom: 1px solid #00b54d;
}

.history .sec_01 .col .row .year {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #333333;
  margin-right: 44px;
}

.history .sec_01 .col .row ul {
  flex: 1;
}

.history .sec_01 .col .row ul li {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #828b92;
}
/* 연혁 End */

/* 주요고객사 */
.customer .list_sec .inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  width: 100%;
  padding-left: 20px;
  padding-right: 0;
}

.customer .list_sec .card {
  width: 235px;
  height: 235px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(175, 175, 175, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.customer .list_sec .card .img_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.customer .list_sec .card img {
  max-width: 230px;
  max-height: 170px;
  display: block;
}

.customer .list_sec .card .custom_name {
  border-top: 1px solid #00b54d;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.customer .list_sec .card .custom_name a:hover {
  text-decoration: underline;
}
/* 주요고객사 End  */

/* 오시는 길 */
#map {
  max-width: 1200px;
  width: 100%;
  max-height: 500px;
  height: 100vw;
}

.contactUs .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactUs .addr_info {
  width: 100%;
  padding: 24px 16px;
  margin-top: 26px;
  background: #f4f4f4;
}

.contactUs .addr_info h2 {
  font-weight: 900;
  font-size: 18px;
  color: #333333;
  margin-bottom: 16px;
}

.contactUs .addr_info .addr {
  font-weight: 500;
  color: #333333;
}

/* 오시는 길 End */

@media all and (max-width: 1060px) {
  .customer .list_sec .inner {
    max-width: 785px;
  }
}
@media all and (max-width: 1000px) {
  .greeting .sec_01 .msg_wrap {
    align-items: flex-start;
  }
  .history .sec_01 .inner {
    justify-content: center;
  }
}

@media all and (max-width: 810px) {
  .customer .list_sec .inner {
    max-width: 530px;
  }
}

@media all and (max-width: 768px) {
  .greeting .sec_01 .inner {
    padding: 0;
  }

  .greeting .sec_01 .msg_wrap {
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }

  .greeting .sec_01 .msg_wrap img {
    width: 100%;
    max-width: 400px;
    margin: 0 0 24px;
  }

  .greeting .sec_01 .msg_wrap p {
    width: 100%;
    flex: none;
  }
  .greeting .sec_02 {
    margin-top: 24px;
  }

  .greeting .sec_02 .inner {
    margin-top: 24px;
  }

  .history .sec_01 .inner {
    flex-direction: column;
  }
  .history .sec_01 .col:first-child {
    width: 100%;
    background: none;
  }
  .history .sec_01 .col:first-child .wrap {
    display: flex;
    flex-direction: column;
  }

  .history .sec_01 .col:last-child {
    margin: auto;
  }

  .history .sec_01 .col .img_dot {
    margin: 16px 0 32px;
  }

  .customer .list_sec .inner {
    max-width: 444px;
  }
  .customer .list_sec .card {
    width: 192px;
    height: 192px;
  }

  .customer .list_sec .card img {
    max-width: 180px;
  }

  #map {
    max-width: 660px;
    width: 100%;
    height: 300px;
  }

  .contactUs .addr_info {
    max-width: 660px;
    width: 100%;
  }

  .contactUs .addr_info h2 {
    font-size: 14px;
  }

  .contactUs .addr_info .addr {
    font-size: 13px;
  }
}

@media all and (max-width: 480px) {
  .history .sec_01 .col .row .year {
    font-size: 12px;
    margin-right: 16px;
  }

  .history .sec_01 .col .row ul li {
    font-size: 12px;
  }

  .history .sec_01 .col:last-child {
    max-width: 410px;
    width: 100%;
  }

  .customer .list_sec .inner {
    max-width: 360px;
  }
  .customer .list_sec .card {
    width: 150px;
  }

  .customer .list_sec .card img {
    max-width: 140px;
  }
  #map {
    height: 200px;
  }
}
