/* 인사말 */
.greeting .sec_01 .msg_wrap {
  background: #f4f4f4;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.greeting .sec_01 .msg_wrap img {
  margin-right: 24px;
  width: 38%;
}

.greeting .sec_01 .msg_wrap p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  word-break: keep-all;
}

.greeting .sec_02 {
  margin-top: 40px;
}

.greeting .sec_02 .inner {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting .sec_02 .img_chart {
  max-width: 100%;
  margin-top: 40px;
}
/* 인사말 End */

/* 연혁 */
.history .sec_01 {
}
.history .sec_01 .inner {
  display: flex;
}

.history .sec_01 .col {
}

.history .sec_01 .col:first-child {
  width: 300px;
  /* width: 30%; */
  background: url("../../images/bg/bg_history.png") no-repeat bottom / 100% 100%;
  margin-right: 24px;
}

.history .sec_01 .col:first-child .wrap {
  display: flex;
  align-items: center;
}

.history .sec_01 .col .sec_title {
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.history .sec_01 .col .img_dot {
}
.history .sec_01 .col .row {
  border-top: 1px solid #00b54d;
  padding: 20px 0;
  display: flex;
}

.history .sec_01 .col .row:last-child {
  border-bottom: 1px solid #00b54d;
}

.history .sec_01 .col .row .year {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #333333;
  margin-right: 44px;
}

.history .sec_01 .col .row ul {
  flex: 1;
}

.history .sec_01 .col .row ul li {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #828b92;
}
/* 연혁 End */

@media all and (max-width: 1000px) {
  .greeting .sec_01 .msg_wrap {
    align-items: flex-start;
  }
  .history .sec_01 .inner {
    justify-content: center;
  }
}

@media all and (max-width: 768px) {
  .greeting .sec_01 .inner {
    padding: 0;
  }

  .greeting .sec_01 .msg_wrap {
    flex-direction: column;
    align-items: center;
    padding: 24px;
  }

  .greeting .sec_01 .msg_wrap img {
    width: 100%;
    max-width: 400px;
    margin: 0 0 24px;
  }

  .greeting .sec_02 {
    margin-top: 24px;
  }

  .greeting .sec_02 .inner {
    margin-top: 24px;
  }
  .history .sec_01 .inner {
    flex-direction: column;
  }
  .history .sec_01 .col:first-child {
    width: 100%;
    background: none;
  }
  .history .sec_01 .col:first-child .wrap {
    display: flex;
    flex-direction: column;
  }

  .history .sec_01 .col .img_dot {
    margin: 16px 0 32px;
  }
}

@media all and (max-width: 480px) {
  .history .sec_01 .col .row .year {
    font-size: 12px;
    margin-right: 16px;
  }

  .history .sec_01 .col .row ul li {
    font-size: 12px;
  }
}
